*:focus {
  outline: none;
}

.calendar-wrap {
  line-height: 1;
}

.calendar-wrap span {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.calendar {
  position: relative;
  display: inline-block;
  font-family: 'Proxima Nova';
  font-size: 14px;
  color: #777777;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #ebebeb;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

.calendar.calendar_days > .calendar-days {
  display: block;
}

.calendar.calendar_months .calendar-months {
  display: block;
}

.calendar.calendar_years .calendar-years {
  display: block;
}

.calendar_hide {
  display: none;
}

.calendar_show {
  display: block;
}

.calendar_absolute {
  position: absolute;
}

.calendar-header {
  height: 34px;
  line-height: 34px;
  text-align: center;
  border-bottom: 1px solid #ebebeb;
}

.calendar-prev,
.calendar-next {
  display: inline-block;
  width: 20%;
  height: 34px;
  color: transparent;
  cursor: pointer;
}

.calendar-prev {
  float: left;
  background-image: url('../images/calendar-prev.png');
  background-position: center;
  background-repeat: no-repeat;
}

.calendar-prev.calendar_blocked,
.calendar-prev.calendar_blocked:hover {
  cursor: auto;
  background-image: none;
}

.calendar-prev:hover {
  background-image: url('../images/calendar-prev-hover.png');
}

.calendar-next {
  float: right;
  background-image: url('../images/calendar-next.png');
  background-position: center;
  background-repeat: no-repeat;
}

.calendar-next.calendar_blocked,
.calendar-next.calendar_blocked:hover {
  cursor: auto;
  background-image: none;
}

.calendar-next:hover {
  background-image: url('../images/calendar-next-hover.png');
}

.calendar-caption {
  font-size: 14px;
  color: #696969;
  text-align: center;
  cursor: pointer;
}

.calendar-caption:hover {
  color: #000000;
}

.calendar-caption.calendar_blocked,
.calendar-caption.calendar_blocked:hover {
  color: #696969;
  cursor: auto;
}

.calendar-days {
  display: none;
}

.calendar-days span {
  display: inline-block;
  width: 30px;
  font-size: 12px;
  text-align: center;
}

.calendar-head {
  height: 34px;
  padding-right: 6px;
  padding-left: 6px;
  line-height: 34px;
  background-color: #f6f6f6;
}

.calendar-head span {
  cursor: default;
  -webkit-box-shadow: inset 0 1px 0 #fbfbfb;
     -moz-box-shadow: inset 0 1px 0 #fbfbfb;
          box-shadow: inset 0 1px 0 #fbfbfb;
}

.calendar-body {
  padding: 6px;
}

.calendar-body span {
  height: 26px;
  line-height: 26px;
  cursor: pointer;
  border: 1px dashed transparent;
}

.calendar-body span:hover {
  background-color: #e0f4fb;
}

.calendar-body span.calendar_active {
  color: white !important;
  text-shadow: 0 2px 1px rgba(0, 0, 0, 0.15);
  background-color: #32b8e2 !important;
  border: 1px solid rgba(0, 0, 0, 0.15) !important;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15) inset;
}

.calendar-body span.calendar_otherMonth,
.calendar-body span.calendar_untouchable {
  color: #c8c8c8;
  cursor: default;
  background-color: inherit;
}

.calendar-body span.calendar_otherMonth:hover,
.calendar-body span.calendar_untouchable:hover,
.calendar-body span.calendar_otherMonth:active,
.calendar-body span.calendar_untouchable:active,
.calendar-body span.calendar_otherMonth.calendar_active,
.calendar-body span.calendar_untouchable.calendar_active {
  color: #c8c8c8;
  background-color: inherit;
}

.calendar-body span.calendar_inRange {
  background-color: #e0f4fb;
}

.calendar-body span.calendar_inRange:hover {
  background-color: inherit;
}

.calendar-body span.calendar_otherMonth.calendar_inRange:hover {
  background-color: #e0f4fb;
}

.calendar-body span.calendar_focus {
  color: #32b8e2;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.calendar-months,
.calendar-years {
  display: none;
  padding: 6px;
}

.calendar-months span,
.calendar-years span {
  display: inline-block;
  width: 70px;
  height: 47.5px;
  font-size: 13px;
  line-height: 47.5px;
  text-align: center;
  cursor: pointer;
  border: 1px dashed transparent;
}

.calendar-months span:hover,
.calendar-years span:hover {
  background-color: #e0f4fb;
}

.calendar-months span.calendar_active,
.calendar-years span.calendar_active {
  color: white !important;
  background-color: #32b8e2 !important;
}

.calendar-months span.calendar_untouchable,
.calendar-years span.calendar_untouchable {
  color: #c8c8c8;
  cursor: default;
  background-color: inherit;
}

.calendar-months span.calendar_untouchable:hover,
.calendar-years span.calendar_untouchable:hover,
.calendar-months span.calendar_untouchable:active,
.calendar-years span.calendar_untouchable:active,
.calendar-months span.calendar_untouchable.calendar_active,
.calendar-years span.calendar_untouchable.calendar_active {
  color: #c8c8c8;
  background-color: inherit;
}

.calendar-months span.calendar_inRange,
.calendar-years span.calendar_inRange {
  background-color: #e0f4fb;
}

.calendar-months span.calendar_inRange:hover,
.calendar-years span.calendar_inRange:hover {
  background-color: inherit;
}

.calendar-months span.calendar_focus,
.calendar-years span.calendar_focus {
  color: #32b8e2;
  border: 1px solid rgba(0, 0, 0, 0.1);
}