.calendar-wrap {
  position: fixed;
  display: none;
}

.calendar {
  position: relative;
  display: inline-block;
  width: 203px;
  font-family: 'Proxima Nova';
  font-size: 14px;
  color: #777777;
  background-color: #ffffff;
  border: 1px solid #ebebeb;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

.calendar th,
.calendar td {
  padding: 0;
}

.calendar th:first-child,
.calendar td:first-child {
  padding-left: 7px;
}

.calendar th:last-child,
.calendar td:last-child {
  padding-right: 7px;
}

.calendar tbody:before {
  position: absolute;
  left: 0;
  width: 7px;
  background: #ffffff;
  content: '';
}

.calendar tbody:after {
  position: absolute;
  right: 0;
  width: 7px;
  background: #ffffff;
  content: '';
}

.calendar tbody tr:first-child td {
  padding-top: 5px;
}

.calendar tbody tr:last-child td {
  padding-bottom: 7px;
}

.calendar tbody td {
  cursor: pointer;
}

.calendar-head {
  height: 30px;
  border-bottom: 1px solid #ebebeb;
}

.calendar-prev,
.calendar-next {
  width: 35px;
  cursor: pointer;
}

.calendar-prev {
  background-image: url('../images/calendar-prev.png');
  background-position: center;
  background-repeat: no-repeat;
}

.calendar-prev.calendar-blocked,
.calendar-prev.calendar-blocked:hover {
  cursor: auto;
  background-image: none;
}

.calendar-prev:hover {
  background-image: url('../images/calendar-prev-hover.png');
}

.calendar-next {
  background-image: url('../images/calendar-next.png');
  background-position: center;
  background-repeat: no-repeat;
}

.calendar-next.calendar-blocked,
.calendar-next.calendar-blocked:hover {
  cursor: auto;
  background-image: none;
}

.calendar-next:hover {
  background-image: url('../images/calendar-next-hover.png');
}

.calendar-caption {
  width: 119px;
  font-size: 14px;
  color: #696969;
  cursor: pointer;
}

.calendar-caption:hover {
  color: #000000;
}

.calendar-week {
  height: 30px;
  background-color: #f6f6f6;
}

.calendar-week th {
  cursor: default;
  -webkit-box-shadow: inset 0 1px 0 #fbfbfb;
     -moz-box-shadow: inset 0 1px 0 #fbfbfb;
          box-shadow: inset 0 1px 0 #fbfbfb;
}

.calendar-days td {
  width: 27px;
  height: 22px;
  font-size: 12px;
  line-height: 22px;
  text-align: center;
}

.calendar-days td:hover {
  background-color: #e0f4fb;
}

.calendar-days td.is-active {
  color: white !important;
  background-color: #32b8e2 !important;
}

.calendar-days td.otherMonthDay {
  color: #c8c8c8;
  cursor: default;
}

.calendar-days td.otherMonthDay:hover,
.calendar-days td.otherMonthDay:active,
.calendar-days td.otherMonthDay.is-active {
  color: #c8c8c8;
  background-color: inherit;
}

.calendar-days td.is-untouchable {
  color: #a0a0a0;
  cursor: default;
}

.calendar-days td.is-untouchable:hover,
.calendar-days td.is-untouchable:active,
.calendar-days td.is-untouchable.is-active {
  color: #a0a0a0;
  background-color: inherit;
}

.calendar-days td.in-range {
  background-color: #e0f4fb;
}

.calendar-days td.in-range:hover {
  background-color: inherit;
}

.calendar-days td.otherMonthDay.in-range:hover {
  background-color: #e0f4fb;
}

.calendar-days tbody:before {
  top: 60px;
  height: 144px;
}

.calendar-days tbody:after {
  top: 60px;
  height: 144px;
}

.calendar-days:before {
  position: absolute;
  top: 60px;
  left: 0;
  width: 203px;
  height: 5px;
  background: #ffffff;
  content: '';
}

.calendar-days:after {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 203px;
  height: 7px;
  background: #ffffff;
  content: '';
}

.calendar-months tbody:before,
.calendar-years tbody:before {
  top: 30px;
  height: 174px;
}

.calendar-months tbody:after,
.calendar-years tbody:after {
  top: 30px;
  height: 174px;
}

.calendar-months td,
.calendar-years td {
  width: 63px;
  height: 40.5px;
  font-size: 13px;
  line-height: 40.5px;
  text-align: center;
}

.calendar-months td:hover,
.calendar-years td:hover {
  background-color: #e0f4fb;
}

.calendar-months td.is-active,
.calendar-years td.is-active {
  color: white !important;
  background-color: #32b8e2 !important;
}

.calendar-months td.is-untouchable,
.calendar-years td.is-untouchable {
  color: #c8c8c8;
  cursor: default;
}

.calendar-months td.is-untouchable:hover,
.calendar-years td.is-untouchable:hover,
.calendar-months td.is-untouchable:active,
.calendar-years td.is-untouchable:active,
.calendar-months td.is-untouchable.is-active,
.calendar-years td.is-untouchable.is-active {
  color: #c8c8c8;
  background-color: inherit;
}

.calendar-months td.in-range,
.calendar-years td.in-range {
  background-color: #e0f4fb;
}

.calendar-months td.in-range:hover,
.calendar-years td.in-range:hover {
  background-color: inherit;
}

.calendar-months:before,
.calendar-years:before {
  position: absolute;
  top: 30px;
  left: 0;
  width: 203px;
  height: 5px;
  background: #ffffff;
  content: '';
}

.calendar-months:after,
.calendar-years:after {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 203px;
  height: 7px;
  background: #ffffff;
  content: '';
}